/* Aloha Editor style first, just for your comfort */
#toolbar .navbar-inner {
  background-image: linear-gradient(to bottom, rgb(228, 247, 255), rgb(189, 203, 209));
}
.aloha-editable:hover,.aloha-editable-active,
.navbar .nav>li>a.aloha-editable-active, .navbar .nav>li>a.aloha-editable:hover  {
  background-color: #fcf8e3;
}
.aloha-image-box-active {
  vertical-align: middle;
}
.ui-helper-hidden-accessible {
  display: none;
}
.my-aloha-toolbar > div, .my-aloha-toolbar > input, .my-aloha-toolbar > button {
  margin-left: 20px;
} 
/* site styling */
body {
  padding-top: 95px;
  padding-bottom: 60px;
}

#aloha-component-create-table .aloha-icon { background-position: -96px 0; }
#aloha-component-mergecells .aloha-icon { background-position: -384px 0; }
#aloha-component-splitcells .aloha-icon { background-position: -400px 0; }
#aloha-component-table-caption .aloha-icon { background-position: -320px 0; }
#aloha-component-addcolumnleft .aloha-icon { background-position: -112px 0; }
#aloha-component-addcolumnright .aloha-icon { background-position: -128px 0; }
#aloha-component-deletecolumns .aloha-icon { background-position: -192px 0; }
#aloha-component-columnheader .aloha-icon { background-position: -368px 0; }
#aloha-component-mergecells-column .aloha-icon { background-position: -384px 0; }
#aloha-component-splitcells-column .aloha-icon { background-position: -400px 0; }
#aloha-component-addrowbefore .aloha-icon { background-position: -144px 0; }
#aloha-component-addrowafter .aloha-icon { background-position: -160px 0; }
#aloha-component-deleterows .aloha-icon { background-position: -176px 0; }
#aloha-component-rowheader .aloha-icon { background-position: -352px 0; }
#aloha-component-mergecells-row .aloha-icon { background-position: -384px 0; }
#aloha-component-splitcells-row .aloha-icon { background-position: -400px 0; }
table td.success { background-color: #dff0d8; }
table td.error { background-color: #f2dede; }
table td.warning { background-color: #fcf8e3; }
table td.info { background-color: #d9edf7; }

/* Custom container */
.container {
  margin: 0 auto;
  max-width: 1000px;
}
.container > hr {
  margin: 60px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 100px;
  line-height: 1;
}
.jumbotron .lead {
  font-size: 24px;
  line-height: 1.25;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
#menu .nav-tabs {
    margin-bottom: 0;
}
.navbar .navbar-inner {
  padding: 0;
}
.navbar .nav {
  margin: 0;
  display: table;
  width: 100%;
}
.navbar .nav li {
  display: table-cell;
  width: 1%;
  float: none;
}
.navbar .nav li a {
  font-weight: bold;
  text-align: center;
  border-left: 1px solid rgba(255,255,255,.75);
  border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a {
  border-left: 0;
  border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
  border-right: 0;
  border-radius: 0 3px 3px 0;
}
.tab-content>.active {
  background-color: #fff;
  border: solid 1px #ddd;
  margin-bottom: -1px;
}